

input[type=radio]:checked + label { 
	text-align: center;
   	background-image: none;
   	background-color:#fff;
 	color:#000;
	border:5px solid #000 !important;
 	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	}

